/* Importamos la fuente Roboto de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilos para el body*/
/* Saco margin y padding por defecto*/
body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
  }

  /* Estilos para el Header*/
  header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

/* Estilos para el logo en el header */
  .logo {
    width: 200px;
    margin-right: 10px;
  }

  /* Estilos para el navbar*/
  nav {
    background-color: #2980b9;
    padding: 10px 0;
    text-align: center;
  }

  /* Estilos para los enlaces del navbar */
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  nav a:hover {
    text-decoration: underline;
  }

/* Estilos por default para h2 y h3 */
h2{
    text-transform: uppercase;
    color: #272522;
}

h3{
    color: white;
    text-transform: uppercase;
}

/* Estilos para la sección de about */
  #about {
    background-image:url(Images/background3.jpg);
    padding: 20px;
  }

/* Estilos para parrafos */
  #about p{
    color: white;
  }

/* Estilos para h2 en about */
  #about h2{
    color: #ffde59;
  }

/* Estilos para el header */  
  .title-header {
    text-align: center;
    color: white;
  }
  .about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-section {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 20px;
  }
  .about-icon {
    width: 50px;
  }


  /* Estilos para la sección de servicios */
  #services {
    background-image: url(Images/background4.jpg);
    padding: 20px;
  }
  .service {
    display: flex;
    margin-bottom: 20px;
  }
  .service-img {
    width: 150px;
    margin-right: 20px;
  }


/* Estilos para la sección de propuesta comercial */
#proposal {
    background-color: #ffde599c;
    padding: 20px;
  }

  #proposal h2{
    color: black;
  }
  .proposal-content {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
  }
  .proposal-content p {
    flex-grow: 1; /* Para que el párrafo ocupe todo el espacio restante */
  }
  .proposal-img {
    width: 50%; /* La imagen ocupa la mitad del contenedor */
    margin-left: auto; /* Mueve la imagen hacia la derecha */
  } 



/* Estilos para la sección de contacto */
#contact {
    background-color:#2980b9; /* Fondo gris más oscuro */
    padding: 20px;
    text-align: center; /* Centra el contenido horizontalmente */
  }
  
  .contact-form {
    max-width: 300px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form input[type="submit"] {
    background-color:#ffde59;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color:#ffde59;
  }
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form input[type="submit"] {
    background-color: #ffde59;
    color: black;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #e0cf16;
  }
